[submodule "menu/coffee"]
	path = menu/coffee
	url = https://github.com/cafe-engine/coffee
[submodule "menu/latte"]
	path = menu/latte
	url = https://github.com/cafe-engine/latte
[submodule "menu/mocha"]
	path = menu/mocha
	url = https://github.com/cafe-engine/mocha
[submodule "menu/tea"]
	path = menu/tea
	url = https://github.com/cafe-engine/tea
