[submodule "modules/coffee"]
	path = modules/coffee
	url = https://github.com/cafe-engine/coffee
[submodule "modules/latte"]
	path = modules/latte
	url = https://github.com/cafe-engine/latte
[submodule "modules/mocha"]
	path = modules/mocha
	url = https://github.com/cafe-engine/mocha
[submodule "modules/tea"]
	path = modules/tea
	url = https://github.com/cafe-engine/tea
